/* Для файла с заголовками сделать (тут нужно использовать CSS): */
/* Для файла с таблицей сделайте: 
a) таблицу <table> шириной 400px, высотой 200px;
b) рамку вокруг таблицы толщиной в 2 px. */
table {
    width: 400px;
    height: 200px;
    border: 2px solid black;
}
/* Добавил ибо это было в примере так показано */
tr {
    border: 1px solid black;
}

td {
border: 1px solid black;
}
/* a) Сделайте все <h1> зеленого цвета; */
h1 {
    color: green;
/* e) Поставьте все <h1> по центру; */
    text-align: center;
}
/* b) Сделайте все <h2> голубого цвета; */
h2 {
    color: blue;
/* f) Поставьте все <h2> по правому краю; */
    text-align: right;
}
/* c) Сделайте все <h3> оранжевого цвета; */
h3 {
    color: orange;
}
/* d) Сделайте все абзацы <p> красного цвета; */
p {
    color: red;
/* g) Сделайте так, чтобы текст в абзацах <p> был выровнен одновременно и по правому и по левому краю; */
    margin: 0px 20px;
}
#h {
/* h) Сделайте так, чтобы во втором абзаце <p> текст был выровнен по центру. */
    text-align: center;
}










