body {
	background-color: #F6F3F3;
}

#foto {
	text-align: center;
}

.foto {
width: 290px;
height: 350px;
text-align: center;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 1.1em;
}
ul {
	position: auto;
}

ul li {
text-align: left;
}

a {
	text-align: center;

}
.center {
	width: auto;
    height: auto;
	margin-left: 40%;
	display: inline-block !important;
	position: center !important;
}































/*#center ul li {
	margin-left: 762px; 
}
.pab p,a {
	text-align: left;
	margin-left: 790px;
	display: block;
	width: 100$;
height: 100%;
}

@media only screen and (max-width: 570px) { 
 #center   ul li {
        display: inline-block;
        padding-left: 15px;
        width: 140px;
        background-position: -5px 0px;
        margin-right: 6px;
        line-height: 1.7em;
    }

}*/
